FlashFeetAPI/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
FlashFeetAPI/.idea/*
FlashFeetAPI/.idea/workspace.xml
FlashFeetAPI/.idea/modules.xml
FlashFeetAPI/.idea/jarRepositories.xml
FlashFeetAPI/.idea/compiler.xml
FlashFeetAPI/.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
FlashFeetAPI/.vscode/

### Mac OS ###
.DS_Store

### User Added Files ###
FlashFeetAPI/db.properties
